.lista-partidos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 3rem;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 1rem;
  max-width: 720px;

  display: flex;
  flex-direction: column;
}

.card.clickable{
  cursor: pointer;
  transition: transform 0.15s ease;
}

.card.clickable:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(0,0,0,0.25);
}

.card h4 {
  text-align: center;
  margin-top: 20px;
}

.error {
  color: red;
  padding: 1rem;
  text-align: center;
}

.sin-partido {
  color: #666;
  padding: 1rem;
  text-align: center;
}

.partido-detalle {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 5px;
}

.equipo {
  text-align: center;
}

.escudo {
  width: 64px;
  height: 64px;
  object-fit: contain;
  margin-bottom: 6px;
}

.equipo-nombre {
  max-width: 170px;
  min-width: 170px;
  font-weight: 600;
  white-space: normal;
  word-break: break-word;
}

.vs {
  text-align: center;
  min-width: 60px;
}

.categoria-sexo {
  text-transform: uppercase;
}

.resultado {
  font-weight: bold;
  font-size: 1.5rem;
}

.resultado .ganador {
  color: #ffdf00;
}

.fecha-hora-dia {
  text-align: center;
}

.dia {
  color: dimgrey;
  text-transform: capitalize;
}

.hora {
  color: dimgrey;
}

.fecha-partido {
  color: black;
  font-weight: bold;
}

.pabellon-youtube {
  display: flex;
  justify-content: space-around;
  background-color: #ffdf00;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 0 0 10px 10px;
  margin-top: auto;
  text-align: center;
}

.pabellon svg {
  color: red;
}

.youtube a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: red;
}

.youtube svg {
  vertical-align: middle;
  font-size: 1.2em;
}

.youtube a:hover {
  color: white;
}

/* Móvil */
@media (max-width: 768px) {
  .card {
    max-width: 370px;
  }

  .resultado {
    font-size: 1.4rem;
  }

  .lista-partidos {
    grid-template-columns: repeat(1, 1fr);
  }

  .equipo-nombre {
    max-width: 120px;
    min-width: 120px;
  }
}
